:root {
  --grayish-blue: #8385a9;
  --soft-red: #fb5e84;
  --white: #ffffff;
  --dark-desaturated-blue: #343650;
  --very-dark-blue: #191a23;
  --bg-gradient: linear-gradient(180deg, #1d1e28 0.12%, #261c2d 94.84%, #261a2d 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  color: var(--grayish-blue);
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('/pattern-hills-mobile.svg') no-repeat, url('/bg-stars.svg'), var(--bg-gradient);
  background-position: bottom right -127px, top;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
}

.countdown-section {
  margin: 8.875rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: var(--white);
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6.14px;
}

.social-footer {
  margin-top: auto;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1.5rem;
}

.social-link {
  color: var(--grayish-blue);
  transition: color 0.25s;
}

.social-link:hover {
  color: var(--soft-red);
}

.countdown-cards {
  width: 100%;
  margin: 3.375rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 330px;
}

.countdown-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-container {
  width: 100%;
  position: relative;
  background-color: var(--very-dark-blue);
  padding-bottom: 0.3125rem;
  border-radius: 4px 4px 8px 8px;
  overflow: hidden;
}

.card-content {
  position: relative;
  border-radius: 0 0 4px 4px;
  background-color: var(--dark-desaturated-blue);
  color: var(--soft-red);
}

.card-content::before,
.card-content::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 1;
  background-color: #191a23;
}

.card-content::before {
  left: 0;
  translate: -50% -50%;
}

.card-content::after {
  right: 0;
  translate: 50% -50%;
}

.card-value {
  position: relative;
  padding: 0.875rem 0;
  font-size: 2.25rem;
  line-height: 2.375rem;
  letter-spacing: -1.08px;
  text-align: center;
}

.card-value::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0 0 0 / 15%);
  border-bottom: 1px solid rgba(0 0 0 / 25%);
}

.countdown-text {
  text-transform: uppercase;
  font-size: 0.4375rem;
  line-height: 0.75rem;
  letter-spacing: 2.96px;
}

@media (min-width: 768px) {
  body {
    background: url('/pattern-hills-desktop.svg') no-repeat, url('/bg-stars.svg'), var(--bg-gradient);
    background-position: bottom, top;
  }

  .main-heading {
    font-size: 1.375rem;
    letter-spacing: 7.5px;
  }

  .countdown-section {
    margin: 8.5rem 0;
  }

  .countdown-cards {
    max-width: 688px;
    margin-top: 6.5rem;
    gap: 2rem;
  }

  .countdown-card {
    width: 148px;
    gap: 1rem;
  }

  .card-container,
  .card-content {
    border-radius: 8px;
  }

  .card-container {
    padding-bottom: 0.625rem;
  }

  .card-content::before,
  .card-content::after {
    width: 12px;
    height: 12px;
  }

  .card-value {
    padding: 2.125rem 0;
    font-size: 5rem;
    line-height: 4.4375rem;
    letter-spacing: -2.4px;
  }

  .countdown-text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 5.92px;
  }

  .social-footer {
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 1280px) {
  body {
    background-size: 100%;
  }
}
